<h2> <%= @favorite.title" %></h2>
  <p> Details:</p>
  <ul>
    <li><%="Location: #{@fridge.location}"%></li>
    <li><%="Brand: #{@fridge.brand}"%></li>
    <li><%="Size: #{@fridge.size}sqft"%></li>
  </ul>
